

<div class="hbox hbox-auto-xs hbox-auto-sm">
        <div class="col">
        
		    <div class="wrapper-md">
		       <div class="col-md-12">
		          <div class="row row-sm text-center">
		          
		            <div class="col-xs-2">
		              <div class="padder-v panel bg-success item">
		                <span class="text-muted">浏览量(PV)</span>
		                <div class="text-white font-thin h3 block">1,521</div>
		                <span class="h3 text-muted">1,963</span>
		                <div class="top text-right w-full">
		                  <i class="fa fa-caret-down text-warning m-r-sm"></i>
		                </div>
		              </div>
		            </div> <!-- /.col-xs-2 -->
		            <div class="col-xs-2">
		              <a href class="padder-v block panel  bg-primary item">
		                <span class="text-muted">访问次数</span>
		                <span class="text-white font-thin h3 block">930</span>
		                <span class="text-muted h3">1,640</span>
		                <span class="bottom text-right w-full">
		                  <i class="fa fa-cloud-upload text-muted m-r-sm"></i>
		                </span>
		              </a>
		            </div> <!-- /.col-xs-2 -->
		            <div class="col-xs-2">
		              <a href class="padder-v block panel  bg-primary item">
		                <span class="text-muted">平均访问页面</span>
		                <span class="text-white font-thin h3 block">1.2</span>
		                <span class="text-muted h3">2.7</span>
		                <span class="bottom text-right w-full">
		                  <i class="fa fa-cloud-upload text-muted m-r-sm"></i>
		                </span>
		              </a>
		            </div> <!-- /.col-xs-2 -->
		            
		            <div class="col-xs-2">
		              <a href class="padder-v block panel bg-info item">
		                <span class="text-muted">转化次数</span>
		                <span class="text-white font-thin h3 block">1</span>
		                <span class="text-muted h3">3</span>
		                <span class="top text-left">
		                  <i class="fa fa-caret-up text-warning m-l-sm"></i>
		                </span>
		              </a>
		            </div> <!-- /.col-xs-2 -->
		            <div class="col-xs-2">
		              <div class="panel padder-v bg-danger item">
		                <span class="text-muted">转化率</span>
		                <div class="font-thin h3">1.11%</div>
		                <span class="text-muted h3">2.75%</span>
		                <div class="bottom text-left">
		                  <i class="fa fa-caret-up text-warning m-l-sm"></i>
		                </div>
		              </div>
		            </div> <!-- /.col-xs-2 -->
		        	<div class="col-xs-2">
		              <div class="panel padder-v bg-info item">
		                <span class="text-muted">订单数</span>
		                <div class="font-thin h3">--</div>
		                <span class="text-muted h3">--</span>
		                <div class="bottom text-left">
		                  <i class="fa fa-caret-up text-warning m-l-sm"></i>
		                </div>
		              </div>
		            </div> <!-- /.col-xs-2 -->
		          </div> <!-- /.row row-sm text-center -->
		        </div> <!-- /.col-md-10 -->
		    </div> <!-- /.wrapper-md -->
		    
		    <div class="col-md-6" ng-controller="AllReferrerCtrl">
		          <div class="row row-sm">
			        <ul class="nav navbar-nav hidden-sm">
			          <li class="dropdown pos-stc" dropdown>
			            <a href class="dropdown-toggle" dropdown-toggle>
			              <span>指标：{{selectItemValue}}</span>
			              <span class="caret"></span>
			            </a>
			            
			            <div class="dropdown-menu wrapper w-full bg-white" onclick="event.stopPropagation();">
			            	
			              	<div class="row wrapper">
			              		<div class="col-xs-12">
			                      <ul class="nav nav-pills list-unstyled list-inline" style="padding-left:20px;padding-right:20px">
			                    	 <li class="col-xs-4" ng-repeat="item in allOptions" style="margin-left:20px;margin-right:20px" id="{{item.key}}">
			                    	 	<input type="checkbox" ng-change="sync(item.checked, item)"  ng-model="item.checked">{{item.key}}
			                    	 </li>
			                      </ul>
			                    </div>
			                </div> <!-- ./row wrapper -->     
			                
			              	<div class="row">
			             		<div class="col-sm-12 b-l text-right b-light">
			                		(可同时选择1项)
			             		</div>
			            	</div>
			            </div>   <!--  /dropdown-menu  --> 
					   </li>
				     </ul>
		    	   </div> <!--  /.row row-sm -->
            </div> <!-- /.col-md-6 -->
		        
		        
		        <div class="row m-l">
		        	<div class="col-md-12">
		          		<div class="row row-sm text-left" ng-controller="FlotChartDemoCtrl">
		          			<!-- 
		          		    <div class="col-md-4" ng-controller="PieChartController">
		    					<pie-chart config="config" ng-click="aa(data)" data="data"></pie-chart>      		    
		          		    </div>
		          		     -->
		          		    
		          		     <!-- 
		            			<div class="col-md-4">
			          				<div ui-jq="sparkline" ui-options="[45,30,25], {type:'pie', height:178, sliceColors:['{{app.color.success}}','#9821ee', '#634af3']}" class="sparkline inline"></div>
		            			</div>
		            		-->
		            		 
		            		<!-- 
		            		<div class="col-md-4">
			          			<div 
			          				ui-jq="sparkline" 
			          				ui-options="
			          					[45,30,25], 
			          					{type:'pie', height:178, sliceColors:['{{app.color.success}}','#9821ee', '#634af3']}" 
			          				class="sparkline inline">
			          			</div>
		            		</div>
		            		 -->
		            		
		            			<div class="col-md-4">
			          				 <div chart ui-jq="plot" ui-options="
						              {{d3}},
						              {
						                series: { 
						                     pie: { 
						                       show: true, 
						                       innerRadius: 0, 
						                       stroke: { width: 0 }, 
						                       label: { 
						                         show: true, 
						                         threshold: 0.05 
						                       }
						                     } 
						                },
						                legend : {
						                	show : false
						                },
						                colors: [
						                	'{{app.color.info}}',
						                	'{{app.color.warning}}',
						                	'{{app.color.danger}}'
						                ],
						                grid: { 
						                	hoverable: true, 
						                	clickable: true, 
						                	borderWidth: 0, 
						                	color: '#ccc' 
						                },   
						                tooltip: false,
						                tooltipOpts: { content: '%s: %p.0%' }
						              }
						            " style="height:240px">
		            				</div>
		            			</div>
		            		
		            		 
		            		<div class="col-md-8">
							    {{dis}}, {{value}}, {{percent | limitTo:5}}%
							    <div
							    	ui-jq="plot" 
							    	ui-options="
						              [
						                { data: {{d0_1}}, label: '广告导流', points: { show: true }, lines: { show: true, fill: false, fillColor: { colors: [{ opacity: 0.1 }, { opacity: 0.1}] } } }, 
						                { data: {{d0_2}}, label: '直接访问', points: { show: true, radius: 4 }, lines: {show:true} },
						                { data: {{d0_3}}, label: '链接导流', points: { show: true, radius: 4 }, lines: {show:true} }
						              ],
						              
						              {
						              	legend : {
						                	show : false
						                },
						                colors: [ '{{app.color.info}}','{{app.color.warning}}', '{{app.color.danger}}' ],
						                series: { shadowSize: 3 },
						                xaxis:{ font: { color: '#ccc' } },
						                yaxis:{ font: { color: '#ccc' } },
						                grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#ccc' },
						                tooltip: true,
						                tooltipOpts: { content: '%s of %x.1 is %y.4',  defaultTheme: false, shifts: { x: 0, y: 20 } }
						              }
						            " 
						            style="height:240px">
						        </div>
						        
						        
		            		</div>
		            		
		            		<!-- 
		            		<div class="panel wrapper col-md-8" ng-controller="AllReferrerCtrl">
		          				<h5 class="font-thin m-t-none m-b text-muted">{} 总访客数：{}  占比：{}</h5>
		          				<line-chart config="config" data="multiple"></line-chart>
		          			</div>
		          			 -->
		          			 
		          		</div> <!-- / end row -->
		          	</div> <!-- /.col-md-12 -->
		        </div> <!-- /.row m-l -->
		        
		        
		        <div class="row m-l">
		        	<div class="col-md-12">
		   				<div class="wrapper-md" ng-controller="AllReferrerCtrl">
				  			<div class="panel panel-default">
				    			<div>
				    				<tree-grid 
				    					tree-data="tree_data"
				    					col-defs="col_defs"
				    					expand-on="expanding_property">
				    				</tree-grid>
				    			</div>				    
				  			</div>
						</div>
					</div>
				</div>
		    
		</div> <!-- /. col -->
      </div> <!-- /.hbox hbox-auto-xs hbox-auto-sm -->