<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<display-name>Web Application</display-name>

	<!-- Spring应用上下文, ApplicationContext -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
    		classpath:rcm-core-beans.xml,
    		classpath:rcm-ide-beans.xml,
    		classpath:beans-activiti.xml
		</param-value>
	</context-param>

	<welcome-file-list>
		<welcome-file>index</welcome-file>
	</welcome-file-list>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

    <filter>
		<filter-name>CSRSessionFilter</filter-name>
		<filter-class>com.huawei.ide.security.CSRSessionFilter
		</filter-class>
		<init-param>
			<param-name>ExcludeFile</param-name>
			<param-value>queryCardList/,hiboard/rcmForItemlist
			</param-value>
		</init-param>
		<init-param>
			<param-name>indexPage</param-name>
			<param-value>WEB-INF/jsps/rule_engine_system/index/index.jsp</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CSRSessionFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<filter>
		<filter-name>characterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>characterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- cas集成 begin -->
	<filter>
		<filter-name>disableUrlSessionFilter</filter-name>
		<filter-class>com.huawei.ide.portal.cas.DisableUrlSessionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>disableUrlSessionFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>CAS Single Sign Out Filter</filter-name>
		<filter-class>org.jasig.cas.client.session.SingleSignOutFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CAS Single Sign Out Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>org.jasig.cas.client.session.SingleSignOutHttpSessionListener</listener-class>
	</listener>
	<filter>
		<filter-name>CAS Authentication Filter</filter-name>
		<filter-class>com.huawei.ide.portal.cas.CASAuthenticationFilter</filter-class>
		<init-param>
			<param-name>casServerLoginUrl</param-name>
			<param-value>https://biportal:2398/BIPortal/login</param-value>
		</init-param>
		<init-param>
			<param-name>serverName</param-name>
			<param-value>http://localhost:8080</param-value>
		</init-param>
		<init-param>
			<param-name>gateway</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>renew</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>ExcludeFile</param-name>
			<param-value>queryCardList/,hiboard/rcmForItemlist
			</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CAS Authentication Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>CAS Validation Filter</filter-name>
		<filter-class>com.huawei.ide.portal.cas.CASTicketValidationFilter</filter-class>
		<init-param>
			<param-name>casServerUrlPrefix</param-name>
			<param-value>https://biportal:2398/BIPortal/</param-value>
		</init-param>
		<init-param>
			<param-name>serverName</param-name>
			<param-value>http://localhost:8080</param-value>
		</init-param>
		<init-param>
			<param-name>ExcludeFile</param-name>
			<param-value>queryCardList/,hiboard/rcmForItemlist
			</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CAS Validation Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
		<filter-class>org.jasig.cas.client.util.HttpServletRequestWrapperFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- cas集成 end -->
	
	<!-- 用户认证开始 -->
	<filter>
		<filter-name>user authentication filter</filter-name>
		<filter-class>com.huawei.ide.portal.cas.UserAuthenticationFilter</filter-class>
		<init-param>
			<param-name>userList</param-name>
			<param-value>cWX306007,z00280396,test12</param-value>
		</init-param>
		<init-param>
			<param-name>failedPage</param-name>
			<param-value>/WEB-INF/views/jsps/rule_engine_system/no_assertion/noAssertion.jsp</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>user authentication filter</filter-name>
		<url-pattern>/res/*</url-pattern>
	</filter-mapping>
	<!-- 用户认证结束 -->	

	<!-- DispatcherServlet, SpringMVC的核心 -->
	<servlet>
		<servlet-name>SpringMVC</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- DispatcherServlet对应的上下文配置，默认为/WEB-INF/$servlet-name$-servlet.xml -->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<!-- <param-value>classpath:spring-servlet.xml</param-value> -->
			<param-value>
            	/WEB-INF/configs/spring/mvc-dispatcher-servlet.xml
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>SpringMVC</servlet-name>
		<!-- mvc-dispatcher拦截所有请求 -->
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ModelRestServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/configs/spring/mvc-activiti-modeler.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModelRestServlet</servlet-name>
		<url-pattern>/service/*</url-pattern>
	</servlet-mapping>

	<!-- 配置推荐请求的控制器 -->
	<!--<servlet>
		<servlet-name>RcmServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/configs/spring/rcm-dispatcher-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>RcmServlet</servlet-name>
		<url-pattern>/queryCardList/*</url-pattern>
	</servlet-mapping>-->
	<servlet>
		<servlet-name>RcmServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/configs/spring/rcm-dispatcher-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>RcmServlet</servlet-name>
		<url-pattern>/hiboard/*</url-pattern>
	</servlet-mapping>

	<!-- session超时定义,单位为分钟 -->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>


</web-app>