<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huawei.platform.tcc.dao.tasktbloperate" >
  <resultMap id="tasktbloperateMap" type="DBServerConfigEntity" >
    <id column="task_id" property="taskId" jdbcType="BIGINT" />
    <id column="tbl_name" property="tblName" jdbcType="VARCHAR" />
    <result column="operate_type" property="operateType" jdbcType="INTEGER" />
    <result column="stopped_steps" property="stoppedSteps" jdbcType="BIT" />
  </resultMap>

  <select id="getStepsStoppedTaskIds" resultType="Long">
    select distinct task_id from task_tbl_operate where stopped_steps=1;
  </select>
</mapper>