/* CSS Document */
 @charset "utf-8";

/**** 公共的部分 ****/
html,body {
	margin: 0;
	padding: 0;
	height: 100%;
	line-height: 24px;
	font-family: Arial, Tahoma, Helvetica, microsoft yahei, simsun, sans-serif;
	font-size: 12px;
	color: #565353;
}

.error {
    color: red;
    text-decoration: none;
}

.css-form input.ng-invalid.ng-dirty {
  background-color: #FA787E;
}
.css-form input.ng-valid.ng-dirty {
  background-color: auto;
}

a {
	color: #565353;
	text-decoration: none;
}

a:hover {
	color: #990000;
	text-decoration: underline;
}

* {
	margin: 0;
	padding: 0;
}

img {
	border: 0;
}
/*--登陆相关------------------------------------------------------*/
.login_frame {
    position: relative;
    text-align: left;
    margin: 0px auto;
    width: 640px;
}

/*标题栏*/
.login_header {
	background: url("../imgs/login/header.gif") repeat-x scroll left bottom	transparent;
	height: 83px;
	position: relative;
	width: 617px;
	padding:10px;
}

.login_banner {
	background-image: url(../imgs/login/banner.gif);
	width: 617px;
	height: 214px;
}

.login_win {
	position: relative;
	background: url(../imgs/login/bg.gif) repeat-y;
	padding-top: 20px;
	margin: 0px;
	width: 617px;
	height: 150px;
	overflow: hidden;
}

.input_name {
	position: relative;
	float: left;
	text-align: right;
	width: 130px;
	height: 22px;
	line-height: 22px;
	list-style: none;
	padding-right: 4px;
	padding-top: 2px;
}

.input_content {
	position: relative;
	float: left;
	height: 22px;
	list-style: none;
	padding: 2px;
}

.login_bottom {
	background: url(../imgs/login/bottom.gif) no-repeat;
	position: relative;
	margin: 0px;
	padding: 0px;
	width: 617px;
	height: 10px;
}

.login_btn {
	border: medium none;
	cursor: pointer;
	font-size: 12px;
	height: 24px;
	padding-left: 16px;
	width: 64px;
	background: url(../imgs/login/btn.gif) no-repeat scroll 0 0 transparent;
}

/*--首页相关----------------------------------------------------*/
#dHead {
	height:80px;
    line-height:80px;
    width:100%;
    
    
  	background-color: #ff934b;
  
    position:absolute;
    z-index:5;
    top:0;
    text-align:center;
}

#dBody {
    width:100%;
    overflow:hidden;
    top:80px;
    position:absolute;
    z-index:10;
    bottom:35px;
}

#dFoot {
    height:35px;
    line-height:35px;
    width:100%;
    position:absolute;
    background:#ddd;
    z-index:200;
    bottom:0;
    text-align:center;
}

#head_div {
	/* width: 1100px;*/
	height: 80px;
	margin: 0 auto;
	border: 1px solid #CCC;
	position: relative;
}

#main_div {
    background: #f5f5f5;
    width: 1100px;
    height:100%;
    margin: 0 auto;
    border: 1px solid #DFDFDF;
    top:0px;
    z-index:10;
    bottom:35px;
}

#head_logo {
    /* background: url(../imgs/logo.gif) no-repeat scroll 0 0 transparent;*/
    height: 50px;
    margin: 16px 16px 0 30px;
    position: relative;
    padding-left: 50px;
    text-align:left;
    line-height:20px;
    font-size:16px;
    font-weight:bold;
    float:left;
}

.head_function {
    font-size: 14px;
    cursor:pointer;
}

.head_function_check {
    filter: glow(color:red, strength=2); 
    color:black; 
    font-weight:900;
    text-shadow: 1px 1px 3px red;
}

.head_text {
    height:40px;
	line-height:20px;
	height: 26px;
	padding-top: 8px;
	text-align: right;
}

.head_welcome {
	font-size:14px;
	color: #064DA9;
}

#head_menu {
	height:40px;
    margin-top: 15px;
    height: 30px;
    line-height: 30px;
    text-align: right;
}

#navigation {
	height: 36px;
	line-height: 36px;
	font-weight: bold;
	font-size:18px;
	text-indent: 10px;
	position: relative;
	border-bottom: 1px solid #DFDFDF;
    background: #FFFFFF url(../imgs/index/main_bj.png) repeat-x top left;
}

#dataContainer {
    width:100%;
    height:inherit;
}

#treeContainer {
    width: 30%;
    height:inherit;
    overflow: auto;
    position: relative;
    background: #e5e5e5;
    float:left;
}

#rightContainer {
    overflow: hidden; 
    width: 680px;
    background: #f5f5f5;
    float:right;
}

#listContainer {
    overflow: auto; 
    height:95%;
    margin-top:20px;
    margin-left:14px;
    margin-right:10px;
}

#reportDiv {
    overflow: auto;
	background: #f0f0Ff;
    position:absolute;
    display:none;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    border:1px solid ddd;
    -webkit-box-shadow:0 0 10px black;
    -moz-box-shadow:0 0 10px black;    
    border-style:outset;
}

#id_page_table {
	margin-bottom:24px;
}

table.listTab {
	border-collapse:collapse;
    width:100%;
}

table.listTab th, table.listTab td {
    border: 1px solid #BBBBBB;
    padding: 5px 0;
    text-align: center;
}
table.listTab tr:hover {
    background: #e0e0ff;
}
table.listTab tr:first-child {
    background: #e8e8e8;
}

.input_normal {
    padding:4px 4px;
    border:1px solid #ccc;
}

.select_box {
width:140px;
border: 1px solid #999;
height: 25px;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.input_table {
    padding:4px 4px;
    width:80%;
}

.button_table {
    margin:4px 4px;
    width:80%;
    cursor: pointer;
}

span.button {line-height:0; margin:0; width:16px; height:16px; display: inline-block; vertical-align:middle;
    border:0 none; cursor: pointer;outline:none;
    background-color:transparent; background-repeat:no-repeat; background-attachment: scroll;
    background-image:url("../imgs/icons.gif");}
span.button.delete {background-position:0 0}
span.button.edit {background-position:-16px 0;}
span.button.add {background-position:-32px 0;}
span.button.forePage {background-position:-48px 0;}
span.button.nextPage {background-position:-64px 0;}
span.button.createUser {background-position:-80px 0;}
span.button.report {background-position:-96px 0;}
span.button.close {background-position:-112px 0;}
span.button.refresh {background-position:-128px 0;}
span.button.roleRight {background-position:-144px 0;}
span.button.calendar {background-position:-160px 0;}
span.button.search {background-position:-176px 0;}
span.button.update {background-position:-192px 0;}

span.page {
    font-size: 12px;
    cursor:pointer;
    margin-left:5px;
    margin-right:5px;
    vertical-align:middle;
    text-align:center;
}

span.cur_page {
    font-size: 12px;
    font-weight:bold;
    vertical-align:middle;
    margin-left:5px;
    margin-right:5px;
    vertical-align:middle;
    text-align:center;
}

#goto_page_window {
    background: #fefefe;
    position:absolute;
    height:25px;
    display:none;
    border:1px solid #BBBBBB;
}

.page_input {
    font-size:12px;
    width:35px;
}

.input_box {
    width: 177px;
    height: 25px;
    padding: 3px;
}

.inputTitle{
    width:80px;
    margin-right:5px;
    display:inline-block;
    vertical-align: top;
    text-align:right; 
}

.inputTitle_WithoutWidth{
    margin-right:5px;
    display:inline-block;
    vertical-align: top;
    text-align:right; 
}

.input_error_tip{
	margin-left:90px;
}

.textArea {
    padding:4px 4px;
    border:1px solid #ccc;
    resize:none;
    font-size: 13px;
}

.input_button {
	width:80px;
	height: 30px;
	margin-right:15px;
	padding: 4px;
	cursor: pointer;
}

.table_create {
	width:450px;
}

.table_create tr{
    height:35px;
}

.table_create th{
    width:50px;
    text-align:right;
}

.table_create td{
    width:100px;
}


/*居中风格*/
.vcform-s1 li{padding:6px 0; list-style:none;}
.vcform-s1 {width:350px; margin:auto;}

/*左对齐风格*/
.vcform-s2 li{
    padding:6px 0; 
    list-style:none;
}




/*弹窗*/
.pop_up{
	border: 0 none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    background-color: #FFFFFF;
    border-radius: 4px;
    color: #333333;
    left: 50%;
    position: fixed;
    z-index:1001;
    top:40%;
    
}

/*蒙层*/
.mask {
    background-color:rgba(180,180,180,0.4);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/*基础数据格式*/
.baseButton{
    border:none;
    background-color: #DDDDDD;
    border-bottom:1px solid #888;
    border-radius: 4px;
    color: #555555;
    padding: 4px 0;
    width: 70px;
    margin-right:5px;
    font-family: Arial, Tahoma, Helvetica, microsoft yahei, simsun, sans-serif;
    font-size: 12px;
    cursor: pointer;
    
}
.baseButton:hover{
    background-color: rgb(232,232,232);
}

.baseButton:active{
    background-color: rgb(200,200,200);
}

.baseDataInput {
    width: 200px;
    margin-right:5px;
}
.baseDataRemark{
    width: 200px;
    height:50px;
    margin-right:5px;
}

.line_black {
	background: #000000;
	height: 1px;
	font-size: 1px;
}

.process_bar {
    margin: 0 auto;
    padding: 10px;
    background: #fff;
    border: 4px solid #EDEDED;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 20030;
    margin-left: -20px;
    margin-top: -20px;
    display: block;
}

.or_popup_wrap2{
    display: block;
    height: 100%;
    left: 0;
    position:fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}
