
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-controller="PagesContrastCtrl">
	<!-- Content Header (Page header) -->
    <section class="content-header" style="padding: 0 15px 0 15px;">
    	<h5>页面流量对比</h5>
	</section>
	
	<section class="content">
    	<div class="row">
        	<div class="col-md-12">
	          	<div class="box" style="border-top:0px;margin-bottom:15px;background:#ffffff;">
	          		<div class="box-header" style="padding:0px;">
			          	<ul class="nav nav-pills" >
				          <li ng-class='{"active":period==0}'><a href ng-click="selectTimePeriod(0)">今天</a></li>
				          <li ng-class='{"active":period==-1}'><a href ng-click="selectTimePeriod(-1)">昨天</a></li>
				          <li ng-class='{"active":period==-7}'><a href ng-click="selectTimePeriod(-7)">最近7天</a></li>
				          <li ng-class='{"active":period==-30}'><a href ng-click="selectTimePeriod(-30)">最近30天</a></li>
				        </ul>
				    </div> <!-- /.box-header -->
				</div> <!-- /.box -->
			</div> <!-- /.col  -->
		</div> <!-- /.row -->
		
		<div class="row">
            <div class="col-md-12">
        		<div class="box box-primary">
        			<div class="box-header">
        			
        			</div> <!-- /.box-header -->
        			
        			<div class="box-body">
        				 <div class="row">
		                  	<div class="col-md-6">
		                    	<div chart ui-jq="plot" 
					          			ui-refresh="kpiPieData[tog][curKPI]" 
					          			ui-options="{{kpiPieData[tog][curKPI]}},
								        {
								        	series: {
												pie: { 
								                	show: true, 
								                    innerRadius: 0, 
								                    stroke: { width: 0 }, 
								                    label: { 
								                    	show: true, 
								                        threshold: 0.05 
								                    }
								                }
								             },
								             legend : {
								             	show : false
								             },
								             colors: [
								             	'{{app.color.info}}',
								                '{{app.color.warning}}',
								                '{{app.color.danger}}'
								             ],
								             grid: { 
								             	hoverable: true, 
								                clickable: true, 
								                borderWidth: 0, 
								                color: '#ccc' 
								             },   
								             tooltip: false,
								             tooltipOpts: { 
								             	content: '%s: %p.0%' 
								             }}"  style="height:240px">
									</div>
									
		                    </div><!-- /.col -->
		                    
		                    <div class="col-md-6">
		                    	<div
										ui-jq="plot" 
										ui-refresh="curKPI" 
									    ui-options="
								              [
								                { data: {{kpiData[tog]['广告导流'][curKPI]}}, label: '广告导流', points: { show: true }, lines: { show: true, fill: true, fillColor: { colors: [{ opacity: 0.1 }, { opacity: 0.1}] } } }, 
								                { data: {{kpiData[tog]['直接访问'][curKPI]}}, label: '直接访问', points: { show: true, radius: 4 }, lines: {show:true, fill: true, fillColor: { colors: [{ opacity: 0.1 }, { opacity: 0.1}] } } },
								                { data: {{kpiData[tog]['链接导流'][curKPI]}}, label: '链接导流', points: { show: true, radius: 4 }, lines: {show:true, fill: true, fillColor: { colors: [{ opacity: 0.1 }, { opacity: 0.1}] }} }
								              ],
								              
								              {
								              	legend : {
								                	show : false
								                },
								                colors: [ '{{app.color.info}}','{{app.color.warning}}', '{{app.color.danger}}' ],
								                series: { shadowSize: 3 },
								                
								                xaxis:{ font: { color: '#ccc' } },
								                yaxis:{ font: { color: '#ccc' } },
								                grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#ccc' },
								                tooltip: true,
								                tooltipOpts: { content: '%s of %x.1 is %y.4',  defaultTheme: false, shifts: { x: 0, y: 20 } }
								              }
								            " style="height:240px">
								     </div> 
		                    </div><!-- /.col -->
		                    
		                  </div><!-- /.row -->
        			</div> <!-- /.box-body -->
        		</div> <!-- /.box -->    
            </div> <!-- /.col -->
        </div> <!-- /.row -->
        
        <div class="row">
			<div class="col-md-12"">
          		<div class="box box-info">
					<div class="box-body">
						<table class="table m-b-none">
					        <thead>
					          <tr>
					              <th data-sort-ignore="true">
					              	  页面URL
					              </th>
					              <th data-sort-ignore="true"></th>
					              <th>
					              	浏览量(PV)
					              </th>
					          </tr>
					        </thead>
					        <tbody>
					          <tr ng-repeat="e in list">
					              <td>
					              	<div class="inline text-left">
					              		<div>{{e.page_url}}</div>
					              		<div></div>
					              	</div>
					              </td>
					              
					              <td>
						            <div class="inline text-left">
						            	<div></div>
					              		<div>{{e.pv}}</div>
					              	</div>  
					              </td>
					          </tr>
					        </tbody>
					      </table>
					      
					</div> <!-- /.box-body -->
				</div> <!-- /.box -->
			</div> <!-- /.col-md-12 -->
		</div> <!-- /.row -->
		
    </section> <!-- /.content -->
</div> <!-- /.content-wrapper -->

