<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-controller="AllReferrerCtrl">
	<section class="content">
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12"
				style="margin-top: 10px; padding-left: 0px;">
				<div class="info-box">
					<span class="info-box-icon bg-aqua"><i
						class="ion ion-ios-browsers-outline"></i></span>
					<div class="info-box-content">
						<span class="info-box-text">浏览量(PV)</span> <span
							class="info-box-number">{{summaryData.pv | formatnumber}}</span>
						<span ng-show="isHuanBi" class="info-box-number text-muted">{{huanBiSummaryData.pv
							| formatnumber}}</span>
					</div>
					<!-- /.info-box-content -->
				</div>
				<!-- /.info-box -->
			</div>
			<!-- /.col -->

			<div class="col-md-3 col-sm-6 col-xs-12"
				style="margin-top: 10px; padding-left: 0px;">
				<div class="info-box">
					<span class="info-box-icon bg-red"><i
						class="ion ion-social-vimeo-outline"></i></span>
					<div class="info-box-content">
						<span class="info-box-text">访问次数</span> <span
							class="info-box-number">{{summaryData.visits |
							formatnumber}}</span> <span ng-show="isHuanBi"
							class="info-box-number text-muted">{{huanBiSummaryData.visits
							| formatnumber}}</span>
					</div>
					<!-- /.info-box-content -->
				</div>
				<!-- /.info-box -->
			</div>
			<!-- /.col -->

			<div class="col-md-3 col-sm-6 col-xs-12"
				style="margin-top: 10px; padding-left: 0px;">
				<div class="info-box">
					<span class="info-box-icon bg-green"><i
						class="ion ion-ios-clock-outline"></i></span>
					<div class="info-box-content">
						<span class="info-box-text">平均访问时长</span> <span
							class="info-box-number">{{summaryData.avg_visit_time |
							formatSecond}}</span> <span ng-show="isHuanBi"
							class="info-box-number text-muted">{{huanBiSummaryData.avg_visit_time
							| formatSecond}}</span>
					</div>
					<!-- /.info-box-content -->
				</div>
				<!-- /.info-box -->
			</div>
			<!-- /.col -->

			<div class="col-md-3 col-sm-6 col-xs-12"
				style="margin-top: 10px; padding-left: 0px;">
				<div class="info-box">
					<span class="info-box-icon bg-yellow"><i
						class="ion ion-ios-paper-outline"></i></span>
					<div class="info-box-content">
						<span class="info-box-text">平均访问页面</span> <span
							class="info-box-number">{{summaryData.avg_visit_pages |
							formatnumber}}</span> <span ng-show="isHuanBi"
							class="info-box-number text-muted">{{huanBiSummaryData.avg_visit_pages
							| formatnumber}}</span>
					</div>
					<!-- /.info-box-content -->
				</div>
				<!-- /.info-box -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->

		<div class="row">
			<div class="col-md-12" style="margin-top: 10px; padding-left: 0px;">
				<div class="box box-primary">
					<div class="box-header">

						<ul class="nav navbar-nav hidden-sm">
							<li class="dropdown pos-stc" dropdown><a href
								class="dropdown-toggle" dropdown-toggle
								style="padding-top: 0; padding-bottom: 0;"> 指标：<span
									class="text-danger" style="font-size: 12px;"
									ng-repeat="d in data"> {{d.key}} {{$last ? '' : '，'}}</span> <span
									class="caret"></span>
							</a>

								<div class="dropdown-menu wrapper bg-white"
									style="opacity: 0.95; width: 40%;"
									onclick="event.stopPropagation();">
									<div class="row wrapper">
										<div class="col-xs-12">
											<ul class="nav nav-pills list-unstyled list-inline"
												style="padding-left: 20px; padding-right: 20px">
												<li class="col-xs-4" ng-repeat="item in allOptions"
													style="margin-left: 20px; margin-right: 20px"
													id="{{item.key}}"><input type="checkbox"
													ng-change="sync(item.checked, item)"
													ng-model="item.checked">{{item.key}}</li>
											</ul>
										</div>
									</div>

									<div class="row">
										<div class="col-sm-12 b-l text-right b-light">(可同时选择1项)
										</div>
									</div>
								</div> <!--  /dropdown-menu  --></li>
						</ul>
					</div>
					<!-- /.box-header -->

					<div class="box-body">
						<div class="row">
							<div class="col-md-3">
								<div id="refferAllPie" style="width: 100%; height: 400px;"></div>
							</div>
							<!-- /.col -->

							<div class="col-md-9" style="border: 2px solid #f4f4f4;">
								<div id="refferAllLine" style="width: 100%; height: 400px;"></div>
							</div>
							<!-- /.col -->

						</div>
						<!-- /.row -->
					</div>
					<!-- ./box-body -->
				</div>
				<!-- /.box -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->

		<div class="row">
			<div class="col-md-12" style="margin-top: 10px; padding-left: 0px;">
				<div class="box box-info">
					<div class="box-body">
						<!-- <tree-grid tree-data="tree_data" col-defs="col_defs"
							expand-on="expanding_property"> </tree-grid> -->
							<table class="multiline-table">
                        <thead>
                            <tr>
                                <td class="expand-col"></td>
                                <td class="num-col"></td>
                                <td>来源类型</td>
                                <td class="qs-col"></td>
                                <td class="t-sort" data-order="0" data-prop="pv"><div class="ts-h">浏览量(PV)</div></td>
                                <td class="t-sort" data-order="0" data-prop="vt"><div class="ts-h">访问次数</div></td>
                                <td class="t-sort" data-order="0" data-prop="avg_page"><div class="ts-h">平均访问时长(秒)</div></td>
                                <td class="t-sort" data-order="0" data-prop="trans_time"><div class="ts-h">平均访问页面</div></td>
                            </tr>
                        </thead>
                        <!--每个tbody 为一个单元， 一个单元会有一条线进行分割-->
                        <!--每个tr 就是一条记录（一行）-->
                        <tbody > <!-- ng-show = "tree_data[2]" -->
                            <tr>
                            	<!-- 这里不模拟了， 例子参考 vistor_anyz_dist.html -->
                            	<td class="expand-col" ng-click="clickaaa(0)">
                            		<a ng-show="!tree_data[0]" href="javascript:void(0)" class="row-expand" ></a>
                            		<a ng-show="tree_data[0]" href="javascript:void(0)" class="row-expand ce-minus" ></a>
                            	</td>
                            	<td class="num-col"></td>
                                <td>广告导流</td>
                                <td class="qs-col">
                                	<div class="exticon-base">
							          	<a target="{{blank}}" ui-sref='app.referrer_trend({refType: 1})' href="#/app/referrer/trend/1"><i class='fa fa-line-chart'></i></a>
                                    </div>
                                </td>
                                <td>{{treeParJson[0].pv | formatnumber}}</td>
                                <td>{{treeParJson[0].visits | formatnumber}}</td>
                                <td>{{treeParJson[0].avg_visit_time | formatSecond}}</td>
                                <td>{{treeParJson[0].avg_visit_pages | formatnumber}}</td>
                            </tr>
                            <tr class="mt-subrow" ng-show="tree_data[0]" ng-repeat="row in treeJson[0]">
                            	<td class="expand-col"></td>
                            	<td class="num-col"></td>
                                <td>{{row.referrer_name}}</td>
                                <td class="qs-col">
									<div class="exticon-base">
							          	<a target="{{blank}}" ui-sref='app.referrer_trend2({refName: row.referrer_name})'><i class='fa fa-line-chart'></i></a>
                                    </div>
								</td>
                                <td>{{row.pv | formatnumber}}</td>
                                <td>{{row.visits | formatnumber}}</td>
                                <td>{{row.avg_visit_time | formatSecond}}</td>
                                <td>{{row.avg_visit_pages | formatnumber}}</td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                            	<!-- 这里不模拟了， 例子参考 vistor_anyz_dist.html -->
                            	<td class="expand-col" ng-click="clickaaa(1)">
                            		<a ng-show="!tree_data[1]" href="javascript:void(0)" class="row-expand" ></a>
                            		<a ng-show="tree_data[1]" href="javascript:void(0)" class="row-expand ce-minus" ></a>
                            	</td>
                            	<td class="num-col"></td>
                                <td>链接导流</td>
                                <td class="qs-col">
                                	<div class="exticon-base">
							          	<a target="{{blank}}" ui-sref='app.referrer_trend({refType: 2})' href="#/app/referrer/trend/2"><i class='fa fa-line-chart'></i></a>
                                    </div>
                                </td>
                                <td>{{treeParJson[1].pv | formatnumber}}</td>
                                <td>{{treeParJson[1].visits | formatnumber}}</td>
                                <td>{{treeParJson[1].avg_visit_time | formatSecond}}</td>
                                <td>{{treeParJson[1].avg_visit_pages | formatnumber}}</td>
                            </tr>
                            <tr class="mt-subrow" ng-show="tree_data[1]" ng-repeat="row in treeJson[1]">
                            	<td class="expand-col"></td>
                            	<td class="num-col"></td>
                                <td>{{row.referrer_name}}</td>
                                <td class="qs-col">
									<div class="exticon-base">
							          	<a target="{{blank}}" ui-sref='app.referrer_trend2({refName: row.referrer_name})'><i class='fa fa-line-chart'></i></a>
                                    </div>
								</td>
                                <td>{{row.pv | formatnumber}}</td>
                                <td>{{row.visits | formatnumber}}</td>
                                <td>{{row.avg_visit_time | formatSecond}}</td>
                                <td>{{row.avg_visit_pages | formatnumber}}</td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                            	<td class="expand-col"></td>
                            	<td class="num-col"></td>
                                <td>直接访问</td>
                                <td class="qs-col">
                                	<div class="exticon-base">
							          	<a target="{{blank}}" ui-sref='app.referrer_trend({refType: 3})' href="#/app/referrer/trend/3"><i class='fa fa-line-chart'></i></a>
                                    </div>
                                </td>
                                <td>{{treeParJson[2].pv | formatnumber}}</td>
                                <td>{{treeParJson[2].visits | formatnumber}}</td>
                                <td>{{treeParJson[2].avg_visit_time | formatSecond}}</td>
                                <td>{{treeParJson[2].avg_visit_pages | formatnumber}}</td>
                            </tr>
                        </tbody>
                    </table>
					</div>
				</div>
			</div>
		</div>


	</section>
	<!-- /.content -->
</div>
<!-- /.content-wrapper -->