

<div class="panel panel-default" ng-controller="RoleManagementCtrl">
	<div class="panel-heading font-bold">角色管理</div>
	<div class="panel-body">
		<form class="form-horizontal" name="roleAdminForm"
			ng-submit="saveRole(role.role)" novalidate="novalidate">
			<div class="form-group">
				<div>
					<label class="col-sm-2 text-right">角色<font color="red">*</font></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" name="role"
							ng-model="role.role" required ng-minlength="6" maxlength="25" />
					</div>
				</div>
			</div>

			<div class="form-group" ng-show="role.id == null">
				<div>
					<label class="col-sm-2 text-right">角色名<font color="red">*</font></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" name="name"
							ng-model="role.name" maxlength="20" />
					</div>
				</div>
			</div>

			<div class="form-group" ng-show="role.id == null">
				<div>
					<label class="col-sm-2 text-right">角色描述</label>
					<div class="col-lg-10">
						<input type="text" class="form-control" name="description"
							ng-model="role.description" maxlength="20" />
					</div>
				</div>
			</div>

			<div class="dialog-buttons dialog-footer">
				<button type="button" class="dialog-button dialog-button-secondary"
					ng-click="closeThisDialog('close')">取消</button>
				<button type="submit" ng-disabled="roleAdminForm.$invalid"
					class="dialog-button dialog-button-primary">&#160;确定&#160;</button>
			</div>
		</form>
	</div>
</div>





