

<div class="panel panel-default" ng-controller="RoleManagementCtrl">
	<div class="panel-heading font-bold">角色权限管理</div>
	<div class="panel-body">
		<form class="form-horizontal" name="roleRightAdminForm"
			ng-submit="saveRoleRight()">
			<div id="id_modify_right_dialog"
				style="height: 300px; overflow: auto; font-size: 14px;">
				<table class="listTab" style="width: 500px;">
					<tr>
						<th align="center">页面管理</th>
						<th align="center">权限设置</th>
					</tr>

					<tr ng-repeat="result in roleRights">
						<th align="center">{{getMetaName(result.dataType)}}</th>
						<td><span ng-repeat="rgt in result.operations"> <input
								type="checkbox" ng-checked="{{rgt.val}}" ng-model="rgt.val" />{{getRightName(rgt.name)}}&nbsp;&nbsp;
						</span></td>
					</tr>
					<tr>

					</tr>
				</table>
				<div class="dialog-buttons dialog-footer">
					<button type="button" class="dialog-button dialog-button-secondary"
						ng-click="closeThisDialog('close')">取消</button>
					<button type="submit" ng-disabled="roleRightAdminForm.$invalid"
						class="dialog-button dialog-button-primary">&#160;确定&#160;</button>
				</div>
			</div>
		</form>
	</div>
</div>





