

<div class="panel panel-default" ng-controller="UserManagementCtrl">
	<div class="panel-heading font-bold">用户管理</div>
	<div class="panel-body">
		<form class="form-horizontal" name="userAdminForm"
			ng-submit="saveUser(user.id)" novalidate="novalidate">
			<div class="form-group">
				<div>
					<label class="col-sm-2 text-right">登录名<font color="red">*</font></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" name="account"
							ng-model="user.account" required ng-minlength="6" maxlength="25"
							ng-readonly="user.id != null" /> <span style="color: red"
							ng-show="userAdminForm.account.$invalid && !userAdminForm.account.$pristine">登录名不能为空且最小长度为6</span>
					</div>
				</div>
			</div>

			<div class="form-group" ng-show="false">
				<div>
					<label class="col-sm-2 text-right">密码<font color="red">*</font></label>
					<div class="col-lg-10">
						<input type="password" class="form-control" name="password"
							ng-model="user.password" maxlength="20" />
					</div>
				</div>
			</div>

			<div class="form-group" ng-show="false">
				<div>
					<label class="col-sm-2 text-right">密码确认<font color="red">*</font></label>
					<div class="col-lg-10">
						<input type="password" class="form-control" name="confirmPassword"
							ng-model="user.confirmPassword" maxlength="20" />
					</div>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 text-right">姓名<font color="red">*</font></label>
				<div class="col-lg-10">
					<input type="text" class="form-control" name="fullName"
						ng-model="user.fullName" required maxlength="10" /> <span
						style="color: red"
						ng-show="userAdminForm.fullName.$invalid && !userAdminForm.fullName.$pristine">姓名不能为空</span>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 text-right">部门</label>
				<div class="col-lg-10">
					<input type="text" class="form-control" name="department"
						ng-model="user.department" maxlength="100" />
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 text-right">电话号码</label>
				<div class="col-lg-10">
					<input type="text" class="form-control" name="phoneNum"
						ng-model="user.phoneNum" maxlength="20" ng-pattern="/^[0-9]*$/" />
					<span style="color: red"
						ng-show="userAdminForm.phoneNum.$invalid && !userAdminForm.phoneNum.$pristine">电话号码格式不正确</span>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 text-right">邮箱</label>
				<div class="col-lg-10">
					<input type="email" class="form-control" name="email"
						ng-model="user.email" maxlength="30"
						ng-pattern="/^(\w)+(\.\w+)*@(\w)+((\.\w{2,3}){1,2})$/" /> <span
						style="color: red"
						ng-show="userAdminForm.email.$invalid && !userAdminForm.email.$pristine">邮箱格式不正确</span>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 text-right">描述</label>
				<div class="col-lg-10">
					<input type="text" class="form-control" name="description"
						ng-model="user.description" maxlength="200" />
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 text-left">是否设为管理员</label>
				<div>
					<label><input type="radio" name="manager"
						ng-model="isManagerValue" ng-checked="isManagerValue == 1"
						ng-click="isManager(1)">是</label> <label
						style="margin-left: 30px;"><input type="radio"
						name="manager" ng-checked="isManagerValue == 0"
						ng-model="isManagerValue" ng-click="isManager(0)">否</label>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 text-left">是否营销数据中心</label>
				<div>
					<label><input type="radio" name="honor"
						ng-model="isHonorValue" ng-checked="isHonorValue == 1"
						ng-click="isHonor(1)">是</label> <label
						style="margin-left: 30px;"><input type="radio"
						name="honor" ng-checked="isHonorValue == 0"
						ng-model="isHonorValue" ng-click="isHonor(0)">否</label>
				</div>
			</div>

			<div class="dialog-buttons dialog-footer">
				<button type="button" class="dialog-button dialog-button-secondary"
					ng-click="closeThisDialog('close')">取消</button>
				<button type="submit" ng-disabled="userAdminForm.$invalid"
					class="dialog-button dialog-button-primary">&#160;确定&#160;</button>
			</div>
		</form>
	</div>
</div>





