

<div class="bg-light lter b-b wrapper-md">
  <h5 class="m-n font-thin">用户管理</h5>
</div>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-controller="UserManagementCtrl">
	<section class="content">
    	<div class="row">
			<div class="col-md-12" style="padding-left:10px;">
          		<div class="box box-info">
					<div class="box-body">
						<div class="b-b b-light" style="padding-bottom:8px;">
							<!-- <i class="ion-android-search" style="font-size:18px;"></i>  -->  
		      				<input id="filter" type="text" placeholder="搜索用户名" class="form-control input-sm w-sm inline m-r" style="padding:2px;" ng-model="searchText"/>
		    			</div>
						<table class="table m-b-none">
					        <thead>
					          <tr>
					              <th data-sort-ignore="true">
					              	  用户名
					              </th>
					              <th data-sort-ignore="true">
					              	姓名
					              </th>
					              <!-- <th data-sort-ignore="true">
					              	角色
					              </th> -->
					              <th data-sort-ignore="true">
					              	部门
					              </th>
					              <th data-sort-ignore="true">
					              	电话号码
					              </th>
					              <th data-sort-ignore="true">
					              	 邮箱
					              </th>
					              <th data-sort-ignore="true">
					              	创建时间
					              </th>
					              <th data-sort-ignore="true">
					              	 创建人
					              </th>
					              <th data-sort-ignore="true">
					              	操作      &nbsp;&nbsp;   <i class="ion ion-plus text-danger ion-pointer" ng-click="addUserDialog()"></i>
					              </th>
					          </tr>
					        </thead>
					        <tbody>
					          <tr ng-repeat="user in userManageJson | userManageFilter:userManageJson.curpage:10:searchText">
					              <td>
					              	<span ng-show="user.isAdmin == 1">
							        	<i class="fa fa-user text-success"></i>
							        </span>{{ user.account || '' }}</td>
					              <td>{{ user.fullName | truncate:true:30:' ...' }}</td>
					              <!-- <td>{{ user.role | truncate:true:30:' ...' }}</td> -->
					              <td>{{ user.department | truncate:true:30:' ...' }}</td>
					              <td>{{ user.phoneNum || '' }}</td>
					              <td>{{ user.email | truncate:true:30:' ...' }}</td>
					              <td>{{ user.createTime || '' }}</td>
					              <td>{{ user.creator || '' }}</td>
					              <td style="white-space: nowrap">
							        <div class="buttons" >
							           <i class="ion ion-compose text-success ion-pointer" ng-click="editUserDialog(user.id)"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   
							           <i class="ion ion-close text-danger ion-pointer" ng-click="delUserDialog(user.id)"></i> 
							        </div>  
							      </td>
					          </tr>
					        </tbody>
					      </table>
					      <div class="up-pager">
						<div class="uppg">
							<a href="javascript:void(0);" class="first-page"
								data-page="first" ng-click="selectPage(1)">首页</a> <a
								href="javascript:void(0);" class="uppg-prv"
								ng-click="selectPage(userManageJson.curpage - 1)">上一页</a> <a
								ng-repeat="p in userManageJson.showPage" href="javascript:void(0);"
								ng-class="setCurPage(p)" ng-click="selectPage(p)">{{p}}</a> <a
								href="javascript:void(0);" class="uppg-nt"
								ng-click="selectPage(userManageJson.curpage + 1)">下一页</a> <a
								href="javascript:void(0);" class="last-page" data-page="last"
								ng-click="selectPage(userManageJson.totalPage)">尾页</a>

						</div>
						<div class="pg-count">
							共<span class="pg-no">{{userManageJson.totalPage}}</span>页
						</div>
					</div>
					</div> <!-- /.box-body -->
				</div> <!-- /.box -->
			</div> <!-- /.col-md-12 -->
		</div> <!-- /.row -->
    	
    	
	</section> <!-- /.content -->
</div> <!-- /.content-wrapper -->



<!-- 

<div ng-controller="sampleController" class="container">    
    <h4 class="panel-indent">Common Dialogs</h4>
    <a class="hy-link cursor-pointer" ng-click="openSimpleInfo()">Open Information Dialog by Simple Call</a><br />
    <a class="hy-link cursor-pointer" ng-click="openSimpleWarning()">Open Warning Dialog by Simple Call</a><br />
    <a class="hy-link cursor-pointer" ng-click="openSimpleError()">Open Error Dialog by Simple Call</a><br />
    <a class="hy-link cursor-pointer" ng-click="dialogNoIconAndGrayButWithBorder()">Dialog without Icon and Gray-background But with Border</a><br />
    <a class="hy-link cursor-pointer" ng-click="dialogNoAnimationDrag()">Dialog without Animation and Dragging</a><br />
    <a class="hy-link cursor-pointer" ng-click="differentHeaderFooterStyles()">Different Header and Footer Styles</a><br />
    <a class="hy-link cursor-pointer" ng-click="openSimpleConfirmation()">Open Confirmation Dialog by Simple Call</a><br />
    <a class="hy-link cursor-pointer" ng-click="keepParentOpenAndNoCloseByOutside()">Keep Parent Dialog Opening and Disable Closing by Click-outside</a><br />
    <a class="hy-link cursor-pointer" ng-click="openDialogAfterClosingParentUsingPremise()">Open Child Dialog After Closing Parent Using Premise</a><br />
    <a class="hy-link cursor-pointer" ng-click="openDialogBeforeClosingParentUsingCallback()">Open Child Dialog Before Closing Parent Using Callback Function</a><br />
    <h4 class="panel-indent top-space"> Custom Data Dialogs</h4>
    <a class="hy-link cursor-pointer" ng-click="dataFormDialog(0)">Display and Submit Data Form</a><br />
    <a class="hy-link cursor-pointer" ng-click="dataFormDialog(1)">Data Form with Confirmation Dialog Open</a><br />
    <a class="hy-link cursor-pointer" ng-click="dataFormDialog(2)">Data Form Dialog with Cancel Warning</a><br />
</div>
-->
