

<div class="panel panel-default" ng-controller="UserManagementCtrl">
	<div class="panel-heading font-bold">群组管理</div>
	<div class="panel-body">

			<form class="bs-example form-horizontal" name="productForm" id="frmProduct" novalidate>
			    <div class="dialog-message dialog-body">
			        <div class="form-group">
			        		<label for="txtProductName" class="col-sm-2 label-adjust">群组列表</label>
			                <div class="col-lg-10">
			                	<label style="display:inline;" ng-repeat="group in groups">
			                		<span class="col-sm-4">
  										<input type="checkbox" checklist-model="selectedGroups" checklist-value="group" checklist-comparator=".id"> {{group.name}}
  									</span>
								</label>
			                </div>
			        </div>			                 
			    </div>
			    <div class="dialog-buttons dialog-footer">        
			        <button type="button" class="dialog-button dialog-button-secondary" ng-click="closeThisDialog('close')">取消</button>
			        <button type="button" class="dialog-button dialog-button-primary" data-ng-click="saveUserGroup()">&#160;确定&#160;</button>
			    </div>
			</form>
	</div>
</div>





