



<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper"
	ng-controller="WebsiteStatisticsLatest30Ctrl">

	<!-- Content Header (Page header) -->
	<section class="content-header" style="padding: 0 15px 0 15px;">
		<h5>{{period | getTimePeriodName}}趋势分析</h5>
	</section>

	<section class="content">
		<!-- Info boxes -->
		<div class="row">
			<div class="col-md-12">
				<div class="box"
					style="border-top: 0px; margin-bottom: 15px; background: #ffffff;">
					<div class="box-header" style="padding: 0px;">
						<ul class="nav nav-pills">
							<li ng-class='{"active":period==0}'><a href
								ng-click="selectTimePeriod(0)">今天</a></li>
							<li ng-class='{"active":period==-1}'><a href
								ng-click="selectTimePeriod(-1)">昨天</a></li>
							<li ng-class='{"active":period==-7}'><a href
								ng-click="selectTimePeriod(-7)">最近7天</a></li>
							<li ng-class='{"active":period==-30}'><a href
								ng-click="selectTimePeriod(-30)">最近30天</a></li>

							<!-- 迭代2 TODO  -->
			          <li style="margin-left:5px; padding: 10px 15px;">
			          	<input date-range-picker class="form-control date-picker" size="22" type="text" ng-model="datePicker.date" options="opts" ng-change="timePickerChange()"/>
			          </li>
			          

							<li style="padding: 10px 1px 10px 1px;"><label
								class="i-checks i-checks-sm checkbox-inline"> <input
									type="checkbox" ng-model="isHuanBi"
									ng-change="huanbi()" /><i></i>对比
							</label></li>
							<li ng-show ="isHuanBi" style="padding: 10px 1px 10px 1px;">
			          	<input date-range-picker class="form-control date-picker" size="22" type="text" ng-model="datePicker.date1" options="opts" ng-change="compareTimePeriodSelect()"/>
			          </li>

							<li style="margin-left: 20px; padding: 10px 15px;">
								<div class="btn-group" ng-init="time_dim_value = 2">
									<label class="btn btn-sm bg-yellow"
										ng-disabled="!time_dim_status[0]" ng-model="time_dim_value"
										btn-radio="1" ng-click="byDim(1)"><i
										class="fa fa-check text-active" style="color: #ffffff;"></i>
										按时</label> <label class="btn btn-sm bg-yellow"
										ng-disabled="!time_dim_status[1]" ng-model="time_dim_value"
										btn-radio="2" ng-click="byDim(2)"><i
										class="fa fa-check text-active" style="color: #fffffff;"></i>
										按日</label>
					        <label  class="btn btn-sm bg-yellow" ng-disabled="!time_dim_status[2]" ng-model="time_dim_value" btn-radio="3" ng-click="byDim(3)"><i class="fa fa-check text-active" style="color:#fffffff;"></i> 按周</label>
					        <label  class="btn btn-sm bg-yellow" ng-disabled="!time_dim_status[3]" ng-model="time_dim_value" btn-radio="4" ng-click="byDim(4)"><i class="fa fa-check text-active" style="color:#fffffff;"></i> 按月</label>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="info-box small">
					<span class="info-box-icon bg-aqua"><i
						class="ion ion-ios-browsers-outline"></i></span>
					<div class="info-box-content">
						<span class="info-box-text">浏览量(PV)</span> <span
							class="info-box-number">{{summaryData.pv | formatnumber}}</span>
						<span ng-show="isHuanBi" class="info-box-number text-muted">{{huanBiSummaryData.pv
							| formatnumber}}</span>
					</div>
					<!-- /.info-box-content -->
				</div>
				<!-- /.info-box -->
			</div>
			<!-- /.col -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="info-box">
					<span class="info-box-icon bg-red"><i
						class="ion ion-social-vimeo-outline"></i></span>
					<div class="info-box-content">
						<span class="info-box-text">访问次数</span> <span
							class="info-box-number">{{summaryData.visit |
							formatnumber}}</span> <span ng-show="isHuanBi"
							class="info-box-number text-muted">{{huanBiSummaryData.visit
							| formatnumber}}</span>
					</div>
					<!-- /.info-box-content -->
				</div>
				<!-- /.info-box -->
			</div>
			<!-- /.col -->

			<!-- fix for small devices only -->
			<div class="clearfix visible-sm-block"></div>

			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="info-box">
					<span class="info-box-icon bg-green"><i
						class="ion ion-ios-settings"></i></span>
					<div class="info-box-content">
						<span class="info-box-text">IP数</span> <span
							class="info-box-number">{{summaryData.ip | formatnumber}}</span>
						<span ng-show="isHuanBi" class="info-box-number text-muted">{{huanBiSummaryData.ip
							| formatnumber}}</span>
					</div>
					<!-- /.info-box-content -->
				</div>
				<!-- /.info-box -->
			</div>
			<!-- /.col -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="info-box">
					<span class="info-box-icon bg-yellow"><i
						class="ion ion-forward"></i></span>
					<div class="info-box-content">
						<span class="info-box-text">跳出率</span> <span
							class="info-box-number">{{summaryData.bounce_rate |
							percentage:2}}</span> <span ng-show="isHuanBi"
							class="info-box-number text-muted">{{huanBiSummaryData.bounce_rate
							| percentage:2}}</span>
					</div>
					<!-- /.info-box-content -->
				</div>
				<!-- /.info-box -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->


		<div class="row" style="padding-bottom: 0px;">
			<div class="col-md-12">
				<div class="box box-primary">
					<div class="box-header" style="padding-bottom: 0px;">

						<ul class="nav navbar-nav hidden-sm">
							<li class="dropdown pos-stc" dropdown><a href
								class="dropdown-toggle" dropdown-toggle
								style="padding-top: 0; padding-bottom: 0;"> 指标：<span
									class="text-danger" style="font-size: 12px;"
									ng-repeat="d in data"> {{d.key}} {{$last ? '' : '，'}}</span> <span
									class="caret"></span>
							</a>

								<div class="dropdown-menu wrapper bg-white"
									style="opacity: 0.95; width: 40%;"
									onclick="event.stopPropagation();">
									<div class="row wrapper">
										<div class="col-xs-12">
											<ul class="nav nav-pills list-unstyled list-inline"
												style="padding-left: 20px; padding-right: 20px">
												<li class="col-xs-4" ng-repeat="item in allOptions"
													style="margin-left: 20px; margin-right: 20px"
													id="{{item.key}}"><input type="checkbox"
													ng-disabled="item.value == 'orderQuantity' || item.value == 'orderAmount' || item.value == 'orderConversation' ? true : false"
													ng-change="sync(item.checked, item)"
													ng-model="item.checked">{{item.key}}</li>
											</ul>
										</div>
									</div>

									<div class="row">
										<div class="col-sm-12 b-l text-right b-light">
											(可同时选择{{canSelectedKpi}}项)</div>
									</div>
								</div> <!--  /dropdown-menu  --></li>
						</ul>
					</div>
					<!-- /.box-header -->

					<div class="box-body" style="padding-top: 0px;">
						<div class="row">
							<div class="col-md-12">
								<div id="latest30Kpi" style="width: 100%;height:400px;"></div>
							</div>
							<!-- /.col -->
							<!--
                    <div class="col-md-4">
                      <p class="text-center">
                        <strong>..</strong>
                      </p>
                    </div> -->
							<!-- /.col -->
						</div>
						<!-- /.row -->
					</div>
					<!-- ./box-body -->
				</div>
				<!-- /.box -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->

		<div class="row">
			<div class="col-md-12">
				<div class="box box-info">
					<div class="box-body">
						<table class="table m-b-none"><!-- ui-jq="footable"
							data-filter="#filter" data-page-size="5" -->
							<thead>
								<tr>
									<th data-sort-ignore="true">日期</th>
									<th data-sort-ignore="true">浏览量(PV)</th>
									<th data-sort-ignore="true">访问次数</th>
									<th data-sort-ignore="true">IP数</th>
									<th data-sort-ignore="true">跳出率</th>
								</tr>
							</thead>
							<tbody>

								<tr ng-repeat="row in websitesThirtyJson | todayPageFilter:websitesThirtyJson.curpage:15">
									<td>
										<!--  
						          		<div ng-show="time_dim_value == 1">{{row.pt_h | formathour}}</div>
						          		<div>{{row.pt_d | formatdate}}</div>
						          		<div ng-show="isHuanBi">{{row.pt_d2 | formatdate}}</div>
						          		<div ng-show="isHuanBi">变化率</div>
						          		-->

										<div ng-show="time_dim_value == 1">{{row.pt_h |
											formathour}}</div>
										<div ng-show="time_dim_value == 1">{{ (period ==-7 ||
											period == -30 || period == 1) ? (row.start_pt_d | formatdate) + " - " +
											(row.end_pt_d | formatdate) : (row.pt_d | formatdate)}}</div>
										<div ng-show="time_dim_value == 2||time_dim_value == 3||time_dim_value== 4">{{ (row.pt_d |
											formatdate)}}</div>
										<div ng-show="isHuanBi">
											<div ng-show="time_dim_value == 1">{{ (period ==-7 ||
												period == -30 ||period == 1) ? (row.start_pt_d2 | formatdate) + " - " +
												(row.end_pt_d2 | formatdate) : (row.pt_d2 | formatdate)}}</div>
											<div ng-show="time_dim_value == 2||time_dim_value ==3||time_dim_value ==4">{{ (row.pt_d2 |
												formatdate)}}</div>
										</div>
										<div ng-show="isHuanBi">变化率</div>
									</td>

									<td>
										<div ng-show="time_dim_value == 1">&nbsp;</div>
										<div>
											{{row.pv | formatnumber}} <i ng-show="isHuanBi"
												ng-if="row.pv > row.pv2"
												class="glyphicon glyphicon-arrow-up text-danger"></i> <i
												ng-show="isHuanBi" ng-if="row.pv < row.pv2"
												class="glyphicon glyphicon-arrow-down text-success"></i>
										</div>
										<div ng-show="isHuanBi">{{row.pv2 | formatnumber}}</div>
										<div ng-show="isHuanBi">{{ (row.pv - row.pv2) / row.pv2
											| percentage:2}}</div>
									</td>

									<td>
										<div ng-show="time_dim_value == 1">&nbsp;</div>
										<div>
											{{row.visits | formatnumber}} <i ng-show="isHuanBi"
												ng-if="row.visits > row.visits2"
												class="glyphicon glyphicon-arrow-up text-danger"></i> <i
												ng-show="isHuanBi" ng-if="row.visits < row.visits2"
												class="glyphicon glyphicon-arrow-down text-success"></i>
										</div>
										<div ng-show="isHuanBi">{{row.visits2 | formatnumber}}</div>
										<div ng-show="isHuanBi">{{ (row.visits - row.visits2) /
											row.visits2 | percentage:2}}</div>
									</td>

									<td>
										<div ng-show="time_dim_value == 1">&nbsp;</div>
										<div>
											{{row.ip | formatnumber}} <i ng-show="isHuanBi"
												ng-if="row.ip > row.ip2"
												class="glyphicon glyphicon-arrow-up text-danger"></i> <i
												ng-show="isHuanBi" ng-if="row.ip < row.ip2"
												class="glyphicon glyphicon-arrow-down text-success"></i>
										</div>
										<div ng-show="isHuanBi">{{row.ip2 | formatnumber}}</div>
										<div ng-show="isHuanBi">{{ (row.ip - row.ip2) / row.ip2
											| percentage:2}}</div>
									</td>

									<td>
										<div ng-show="time_dim_value == 1">&nbsp;</div>
										<div>
											{{row.bounce_rate | percentage:2}} <i ng-show="isHuanBi"
												ng-if="row.bounce_rate > row.bounce_rate2"
												class="glyphicon glyphicon-arrow-up text-danger"></i> <i
												ng-show="isHuanBi"
												ng-if="row.bounce_rate < row.bounce_rate2"
												class="glyphicon glyphicon-arrow-down text-success"></i>
										</div>
										<div ng-show="isHuanBi">{{row.bounce_rate2 |
											percentage:2}}</div>
										<div ng-show="isHuanBi">{{ (row.bounce_rate -
											row.bounce_rate2) / row.bounce_rate2 | percentage:2}}</div>
									</td>
								</tr>

							</tbody>
							<!-- <tfoot class="hide-if-no-paging">
					          <tr>
					              <td colspan="5" class="text-center">
					                  <ul class="pagination"></ul>
					              </td>
					          </tr>
					     </tfoot> -->
						</table>
						<div class="up-pager">
						<div class="uppg">
							<a href="javascript:void(0);" class="first-page"
								data-page="first" ng-click="selectPage(1)">首页</a> <a
								href="javascript:void(0);" class="uppg-prv"
								ng-click="selectPage(websitesThirtyJson.curpage - 1)">上一页</a> <a
								ng-repeat="p in websitesThirtyJson.showPage" href="javascript:void(0);"
								ng-class="setCurPage(p)" ng-click="selectPage(p)">{{p}}</a> <a
								href="javascript:void(0);" class="uppg-nt"
								ng-click="selectPage(websitesThirtyJson.curpage + 1)">下一页</a> <a
								href="javascript:void(0);" class="last-page" data-page="last"
								ng-click="selectPage(websitesThirtyJson.totalPage)">尾页</a>

						</div>
						<div class="pg-count">
							共<span class="pg-no">{{websitesThirtyJson.totalPage}}</span>页
						</div>
					    </div>
					</div>
				</div>
			</div>
		</div>


	</section>
	<!-- /.content -->

</div>
<!-- /.content-wrapper -->


