
<div class="content-wrapper" ng-controller="WebsiteSummaryCtrl">
	<!-- Content Header (Page header) -->
	<section class="content-header" style="padding: 0 15px 0 15px;">
		<h5>网站概况 {{sid}}</h5>
	</section>

	<section class="content">
		<div class="row">
			<div class="col-md-12">
				<div class="box box-info">
					<div class="box-body">
						<table class="table m-b-none">
							<thead>
								<tr>
									<th></th>
									<th>浏览量(PV)</th>
									<th>访客数(UV)</th>
									<th>IP数</th>
									<th>跳出率</th>
									<th>平均访问时长</th>
									<!-- 
					              <th>
					              	转化次数 
					              </th>
					              -->
								</tr>
							</thead>
							<tbody>
								<tr class="text-lt">
									<td>今日</td>
									<td>{{c_data.pv | formatnumber}}</td>
									<td>{{c_data.uv | formatnumber}}</td>
									<td>{{c_data.ip | formatnumber}}</td>
									<td>{{c_data.bounce_rate | percentage:2}}</td>
									<td>{{c_data.avg_visit_time | formatSecond}}</td>
									<!-- <td>--</td>  -->
								</tr>
								<tr class="text-lt">
									<td>昨日</td>
									<td>{{y_data.pv | formatnumber}}</td>
									<td>{{y_data.uv | formatnumber}}</td>
									<td>{{y_data.ip | formatnumber}}</td>
									<td>{{y_data.bounce_rate | percentage:2}}</td>
									<td>{{y_data.avg_visit_time | formatSecond}}</td>
									<!-- <td>--</td>  -->
								</tr>
								<!--
					          <tr class="text-lt">
					              <td>预计今日</td>
					              <td>--</td>
					              <td>--</td>
					              <td>--</td>
					              <td>--</td>
					              <td>--</td>
					              <td>--</td>
					          </tr>
					          -->
								<tr class="text-muted">
									<td>昨日此时</td>
									<td>{{y_c_data.pv | formatnumber}}</td>
									<td>{{y_c_data.uv | formatnumber}}</td>
									<td>{{y_c_data.ip | formatnumber}}</td>
									<td>{{y_c_data.bounce_rate | percentage:2}}</td>
									<td>{{y_c_data.avg_visit_time | formatSecond}}</td>
									<!-- <td>--</td>  -->
								</tr>
								<tr class="text-muted">
									<td>每日平均</td>
									<td>{{a_data.pv | formatnumber}}</td>
									<td>{{a_data.uv | formatnumber}}</td>
									<td>{{a_data.ip | formatnumber}}</td>
									<td>{{a_data.bounce_rate | percentage:2}}</td>
									<td>{{a_data.avg_visit_time | formatSecond}}</td>
									<!-- <td>--</td>  -->
								</tr>
								<tr class="text-muted">
									<td>历史峰值</td>
									<td>{{m_data.pv | formatnumber}}</td>
									<td>{{m_data.uv | formatnumber}}</td>
									<td>{{m_data.ip | formatnumber}}</td>
									<td>{{m_data.bounce_rate | percentage:2}}</td>
									<td>{{m_data.avg_visit_time | formatSecond}}</td>
									<!-- <td>--</td>  -->
								</tr>
							</tbody>
						</table>
					</div>
					<!-- /.box-body -->
				</div>
				<!--  /.box -->
			</div>
			<!--  /.col-md-12 -->
		</div>
		<!-- /.row -->

		<div class="row">
			<div class="col-md-12">
				<div class="box" style="border-top: 0px; margin-bottom: 15px;">
					<div class="box-header" style="padding: 0px;">
						<ul class="nav nav-pills">
							<li ng-class='{"active":period==0}'><a href
								ng-click="selectTimePeriod(0)">今天</a></li>
							<li ng-class='{"active":period==-1}'><a href
								ng-click="selectTimePeriod(-1)">昨天</a></li>
							<li ng-class='{"active":period==-7}'><a href
								ng-click="selectTimePeriod(-7)">最近7天</a></li>
							<li ng-class='{"active":period==-30}'><a href
								ng-click="selectTimePeriod(-30)">最近30天</a></li>

							<!-- 迭代2实现按时间范围查询  -->
							<li style="margin-left: 5px; padding: 10px 15px;"><input id="time"
								date-range-picker class="form-control date-picker" size="22"
								type="text" ng-model="datePicker.date" options="opts" ng-change="timePickerChange()"/></li>


						</ul>
					</div>
					<!-- /.box-header -->
				</div>
				<!-- /.box -->
			</div>
			<!--  /.col-md-12 -->
		</div>
		<!-- /.row -->

		<div class="row">
			<div class="col-md-12">
				<div class="box"
					style="border-top: 0px; margin-bottom: 15px; background: #ffffff;">
					<div class="box-header" style="padding: 0px;">
						<div class="form-group"
							style="margin-top: 10px; margin-bottom: 10px; margin-left: 10px;">
							<label class="i-checks i-checks-sm radio-inline"><input
								type="radio" ng-model="curKPI" name="optradio" value="pv"
								ng-change="selectKpiItem(curKPI)"><i></i>浏览量(PV)</label> <label
								class="i-checks i-checks-sm radio-inline"><input
								type="radio" ng-model="curKPI" name="optradio" value="uv"
								ng-change="selectKpiItem(curKPI)"><i></i>访客数(UV)</label> <label
								class="i-checks i-checks-sm radio-inline"><input
								type="radio" ng-model="curKPI" name="optradio" value="nuv"
								ng-change="selectKpiItem(curKPI)"><i></i>新访客数</label> <label
								class="i-checks i-checks-sm radio-inline"><input
								type="radio" ng-model="curKPI" name="optradio" value="nuv_rate"
								ng-change="selectKpiItem(curKPI)"><i></i>新访客比率</label> <label
								class="i-checks i-checks-sm radio-inline"><input
								type="radio" ng-model="curKPI" name="optradio" value="ip"
								ng-change="selectKpiItem(curKPI)"><i></i>IP数</label> <label
								class="i-checks i-checks-sm radio-inline"><input
								type="radio" ng-model="curKPI" name="optradio" value="visits"
								ng-change="selectKpiItem(curKPI)"><i></i>访问次数</label> <label
								class="i-checks i-checks-sm radio-inline"><input
								type="radio" ng-model="curKPI" name="optradio"
								value="bounce_rate" ng-change="selectKpiItem(curKPI)"><i></i>跳出率</label>
							<label class="i-checks i-checks-sm radio-inline"><input
								type="radio" ng-model="curKPI" name="optradio"
								value="avg_visit_time" ng-change="selectKpiItem(curKPI)"><i></i>平均访问时间</label>
							<label class="i-checks i-checks-sm radio-inline"><input
								type="radio" ng-model="curKPI" name="optradio"
								value="avg_visit_pages" ng-change="selectKpiItem(curKPI)"><i></i>平均访问页面</label>
						</div>
					</div>
					<!-- /.box-header -->
				</div>
				<!-- /.box -->
			</div>
			<!--  /.col-md-12 -->
		</div>
		<!-- /.row -->

		<div class="row">
			<div class="col-md-12">
				<div class="box box-primary">
					<div class="box-body">
						<div class="row">
							<div class="col-md-12">
								<div>
										<div id="websiteSum" style="width: 100%;height:400px;">
									</div>
								</div>

								<div class="panel panel-default text-center">
									<div class="form-group" style="margin-top: 10px;">
										对比： <label class="i-checks i-checks-sm checkbox-inline"
											ng-repeat="subscription in entities"> <input
											type="checkbox" ng-disabled="isDisabled"
											ng-model="subscription.checked"
											ng-change="selectContrast($index, subscription.checked,entities)" /><i></i>{{subscription.name}}
										</label>
									</div>
								</div>
							</div>
							<!-- /.col-md-12 -->
						</div>
						<!-- /.row -->
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
			</div>
			<!-- /.col-md-12 -->
		</div>
		<!-- /.row -->

		<div class="row">
			<div class="col-md-12">
				<div class="box box-warning">
					<div class="box-header with-border">
						<h3 class="box-title">来源网站</h3>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<div class="row">
							<div class="col-md-6">
								<table class="table m-b-none" data-filter="#filter"
									data-page-size="10">
									<thead>
										<tr>
											<th>来源名称</th>
											<th>来源类型</th>
											<th>浏览量(PV)</th>
											<th>占比</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="row in top_referrer_data">
											<td>{{row.referrer_name}}</td>
											<td>{{row.referrer_type == 1 ? '广告导流 ' :
												(row.referrer_type == 2 ? '链接导流' : '直接访问') }}</td>
											<td>{{row.pv | formatnumber}}</td>
											<td>{{ row.pv / totalPv | percentage:2}}</td>
										</tr>
									</tbody>
								</table>
							</div>
							<!-- /.col-md-6 -->
							<div class="col-md-6" style="border:2px solid #f4f4f4;">
									<div id="websitePie" style="width: 100%;height:400px;"></div>
							</div>
							<!-- /.col-md-6 -->
						</div>
						<!-- /.row -->

					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
			</div>
			<!-- /.col-md-6 -->
		</div>
		<!-- /.row -->


		<div class="row">
			<div class="col-md-12">
				<div class="box box-warning">
					<div class="box-header with-border">
						<h3 class="box-title">受访页面</h3>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<div class="row">
							<div class="col-md-6">
								<table class="table m-b-none" data-filter="#filter"
									data-page-size="10">
									<thead>
										<tr>
											<th style="width:60%">页面URL</th>
											<th style="width:20%">浏览量(PV)</th>
											<th style="width:20%">占比</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="row in top_pages_data">
											<td>{{row.page_url}}</td>
											<td>{{row.pv | formatnumber}}</td>
											<td>{{ row.pv / totalPagesPv | percentage:2}}</td>
										</tr>
									</tbody>
								</table>
							</div>
							<!-- /.col-md-6 -->
							<div class="col-md-6" style="border:2px solid #f4f4f4;">
									<div id="websitePieRef" style="width: 100%;height:400px;"></div>
							</div>
							<!-- /.col-md-6 -->
						</div>
						<!-- /.row -->
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
			</div>
			<!-- /.col-md-6 -->
		</div>
		<!-- /.row -->

		<!-- 
		<div class="row">
			<div class="col-md-4">
				<div class="box box-warning">
					<div class="box-header with-border">
						<h3 class="box-title">首页热点模块</h3>
		                <div class="box-tools pull-right">
		                	<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
		                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
		                </div>
					</div> 
					<div class="box-body">
						<table class="table m-b-none"  data-filter="#filter" data-page-size="10">
							<thead>
								<tr>
							    	<th>
							        	网站名称
							        </th>
							    	<th>
							    		浏览量(PV)
							    	</th>
							        <th>
							        	占比
							        </th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="referrer_row in referrer_rows">
							    	<td>{{referrer_row.name}}</td>
							        <td>{{referrer_row.pv}}</td>
							        <td>{{referrer_row.percentage}}</td>
								</tr>
							</tbody>
						</table>
					</div> 
				</div> 
			</div> 
			 -->

		<!-- 
			<div class="col-md-4">
				<div class="box box-warning">
					<div class="box-header with-border">
						<h3 class="box-title">入口页面</h3>
		                <div class="box-tools pull-right">
		                	<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
		                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
		                </div> 
					</div> 
					<div class="box-body">
						<table class="table m-b-none"  data-filter="#filter" data-page-size="10">
							<thead>
								<tr>
							    	<th>
							        	网站名称
							        </th>
							    	<th>
							    		浏览量(PV)
							    	</th>
							        <th>
							        	占比
							        </th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="referrer_row in referrer_rows">
							    	<td>{{referrer_row.name}}</td>
							        <td>{{referrer_row.pv}}</td>
							        <td>{{referrer_row.percentage}}</td>
								</tr>
							</tbody>
						</table>
					</div> 
				</div> 
			</div> 
			 -->

		<!-- 
			<div class="col-md-4">
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title">退出页面</h3>
		                <div class="box-tools pull-right">
		                	<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
		                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
		                </div> 
					</div> 
					<div class="box-body">
						<table class="table m-b-none"  data-filter="#filter" data-page-size="10">
							<thead>
								<tr>
							    	<th>
							        	网站名称
									</th>
									<th>
							        	浏览量(PV)
									</th>
									<th>
							        	占比
									</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="referrer_row in referrer_rows">
							    	<td>{{referrer_row.name}}</td>
							        <td>{{referrer_row.pv}}</td>
							        <td>{{referrer_row.percentage}}</td>
								</tr>
							</tbody>
						</table>
					</div> 
				</div> 
			</div> 
		</div> 
		 -->


		<div class="row">
			<div class="col-md-12">
				<div class="box box-success">
					<div class="box-header with-border">
						<h3 class="box-title">地域分析</h3>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<div class="row">
							<div class="col-md-6">
								<div id="websiteMapBar" style="width: 80%;height:400px;"></div>
							</div>

							<div class="col-md-6" style="border:2px solid #f4f4f4;">
								<div id="websiteBar" style="width: 100%;height:400px;"></div>
							</div>
							<!-- /.col-md-3 -->
						</div>
						<!-- /.row -->
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
			</div>
			<!-- /.col-md-12 -->
		</div>
		<!-- /.row -->


	</section>
	<!-- /.content -->
</div>
<!-- /.content-wrapper -->
