






<div class="bg-light lter b-b wrapper-md">
  <h5 class="m-n font-thin">网站维护</h5>
</div>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-controller="WebsiteManagementCtrl" >
	<section class="content">
    	<div class="row">
			<div class="col-md-12" style="padding-left:10px;">
          		<div class="box box-info">
					<div class="box-body">
						<div class="b-b b-light" style="padding-bottom:8px;">
							<!-- <i class="ion-android-search" style="font-size:18px;"></i>  -->  
		      				<input id="filter" type="text" placeholder="搜索IDSITE" class="form-control input-sm w-sm inline m-r" style="padding:2px;" ng-model="searchText"/>
		    			</div>
						<table class="table m-b-none">
					        <thead>
					          <tr>
					              <th data-sort-ignore="true">
					              	  IDSITE
					              </th>
					              <th data-sort-ignore="true">
					              	站点名称
					              </th>
					              <th data-sort-ignore="true">
					              	URL
					              </th>
					              <th data-sort-ignore="true">
					              	群组
					              </th>
					              <th data-sort-ignore="true">
					              	创建时间
					              </th>
					              <th data-sort-ignore="true">
					              	创建人
					              </th>
					              
					              <th data-sort-ignore="true">
					              	操作      &nbsp;&nbsp;   <i class="ion ion-plus text-danger ion-pointer" ng-click="addWebsiteDialog()"></i>
					              </th>
					          </tr>
					        </thead>
					        <tbody>
					          <tr ng-repeat="website in websitesJson | websiteManageFilter:websitesJson.curpage:10:searchText">
					              <td>{{ website.site_id | truncate:true:30:' ...' }}</td>
					              <td>{{ website.site_name | truncate:true:40:' ...' }}</td>
					              <td>{{ website.site_url | truncate:true:40:' ...' }}</td>
					              <td>{{ website.name | truncate:true:40:' ...' }}</td>
					              <td>{{ website.createtime || '' }}</td>
					              <td>{{ website.creator || '' }}</td>
					              <td style="white-space: nowrap">
							        <div>
							           <i class="ion ion-compose text-success ion-pointer" ng-click="editWebsiteDialog(website.id)"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   
           							   <i class="ion ion-close text-danger ion-pointer" ng-click="delWebsiteDialog(website.id)"></i>
							        </div>  
							      </td>
					          </tr>
					        </tbody>
					      </table>
					      <div class="up-pager">
						<div class="uppg">
							<a href="javascript:void(0);" class="first-page"
								data-page="first" ng-click="selectPage(1)">首页</a> <a
								href="javascript:void(0);" class="uppg-prv"
								ng-click="selectPage(websitesJson.curpage - 1)">上一页</a> <a
								ng-repeat="p in websitesJson.showPage" href="javascript:void(0);"
								ng-class="setCurPage(p)" ng-click="selectPage(p)">{{p}}</a> <a
								href="javascript:void(0);" class="uppg-nt"
								ng-click="selectPage(websitesJson.curpage + 1)">下一页</a> <a
								href="javascript:void(0);" class="last-page" data-page="last"
								ng-click="selectPage(websitesJson.totalPage)">尾页</a>

						</div>
						<div class="pg-count">
							共<span class="pg-no">{{websitesJson.totalPage}}</span>页
						</div>
					</div>
					</div> <!-- /.box-body -->
				</div> <!-- /.box -->
			</div> <!-- /.col-md-12 -->
		</div> <!-- /.row -->
	</section> <!-- /.content -->
</div> <!-- /.content-wrapper -->

