<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.huawei.platform.tcc.dao.task">
   <resultMap id="taskResultMap" type="TaskEntity">
	<id column="Task_ID" jdbcType="BIGINT" property="taskId" />
    <result column="Service_ID" jdbcType="TINYINT" property="serviceid" />
    <result column="Task_Name" jdbcType="VARCHAR" property="taskName" />
    <result column="Task_Desc" jdbcType="VARCHAR" property="taskDesc" />
    <result column="Task_Type" jdbcType="TINYINT" property="taskType" />
    <result column="Task_Enable_Flag" jdbcType="BIT" property="taskEnableFlag" />
    <result column="Task_State" jdbcType="BIT" property="taskState" />
    <result column="Priority" jdbcType="INTEGER" property="priority" />
    <result column="Cycle_Type" jdbcType="VARCHAR" property="cycleType" />
    <result column="Cycle_Length" jdbcType="INTEGER" property="cycleLength" />
    <result column="depend_Task_Id_List" jdbcType="VARCHAR" property="dependTaskIdList" />
    <result column="Cycle_Offset" jdbcType="VARCHAR" property="cycleOffset" />
    <result column="Cycle_Depend_Flag" jdbcType="BIT" property="cycleDependFlag" />
    <result column="Multi_Batch_Flag" jdbcType="BIT" property="multiBatchFlag" />
    <result column="End_Batch_Flag" jdbcType="TINYINT" property="endBatchFlag" />
    <result column="Input_File_list" jdbcType="VARCHAR" property="inputFileList" />
    <result column="Input_File_Min_Count" jdbcType="INTEGER" property="inputFileMinCount" />
    <result column="Wait_Input_Minutes" jdbcType="INTEGER" property="waitInputMinutes" />
    <result column="Create_Time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="Last_Update_Time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
    <result column="Files_in_host" jdbcType="VARCHAR" property="filesInHost" />
    <result column="Run_Last_Hour_Cycle_State" jdbcType="TINYINT" property="runLastHourCycleState" />
    <result column="Start_Time" jdbcType="TIMESTAMP" property="startTime" />
	</resultMap>
	
	<select id="getTaskList" parameterType="Integer"
		resultMap="taskResultMap" statementType="PREPARED">
		select * from tcc_task where Task_Enable_Flag = #{taskEnableFlag,jdbcType=BIT} 
	</select>
	
	<select id="getTaskListByIds" parameterType="Long"
		resultMap="taskResultMap" statementType="PREPARED">
		select * from tcc_task where task_Id in
		<foreach close=")" collection="list" item="taskId" open="(" separator=",">
            #{taskId}
        </foreach>
	</select>
	
	<select id="getTask" parameterType="Integer"
		resultMap="taskResultMap" statementType="PREPARED">
		select * from tcc_task where task_Id = #{taskId,jdbcType=BIGINT} limit 1;
	</select>
</mapper>